<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a href="/" class="navbar-brand mea-culpa-regular"><button type="button" class="btn btn-dark">Karrtik</button></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="nav navbar">
                <li class="nav-item">
                    <a class="nav-link nav-link-name <%- path === '/' ? 'active' : '' %>" aria-current="page"
                        href="/workexperience">Work Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-name <%- path === '/projects' ? 'active' : '' %>" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-name <%- path === '/qualifications' ? 'active' : '' %>" href="/qualifications">Qualifications</a>
                </li>
            </ul>
        </div>
        <div class="justify-content-right">
            <a href="/download"><button type="button" class="btn btn-outline-primary"><i class="bi bi-download">&nbspResume</i></button></a>
        </div>
    </div>
</nav>