<div class="row g-0 text-center">
    <div class="col-md-8" style="margin-top: 6em;">
        <h2><strong>Technical Project Manager</strong></h2>
        <h4>delivering complex projects on time and within budget.</h4>
    </div>
    <div class="col-md-4">
        <img src="/img/profile_image.png" class="profile">
        <div class="shadow">
        </div>
    </div>
</div>



<!-- <div class="container text-center">
    
</div> -->

<!-- 
<div class="container">
    <div class="frame row">
        
    </div>
</div> -->
